<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%highlight%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <logger name="reactivemongo" level="WARN" />
    <logger name="akka.event.slf4j.Slf4jLogger" level="WARN" />
    <logger name="io.netty" level="WARN"/>
    <logger name="com.github.johanneshiry.simpleprm" level ="DEBUG" />

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
